<div class="media mb-3">

    <div class="media-body">
        <h5 class="mt-0">Friend <%=message.user.username%>
        </h5>
        <p class="lfw-bold fst-italic">
            <%= message.body%>
        </p>
    </div>
</div>