<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase " href="#">ChatRoom</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fw-semibold" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Imessage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>


            </ul>

            <div class=" d-flex nav-sign me-4 ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mb-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu bg-black text-bg-light  ">
                            <li><a class="dropdown-item " href="#">Logout</li>
                            <li><a class="dropdown-item  " href="#">Login</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item " href="#">Signup</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex ms-2 " role="search">

                    <button class="btn btn-outline-secondary" type="submit">LogIn</button>
                </form>
            </div>

        </div>
    </div>
</nav>